body{
  background-color: #c8004c;
}

h1{
  color: white;
  font-size: 24px;
}

.inner-body{
  text-align: center;
}

.central-container{
  width: 1000px;
  padding: 20px;
  margin: auto;
  background-color: white;
  border-radius: 7px;
}

.inner-container{
  display: flex;
  justify-content: center;
}

.col{
  display: flex;
  flex-direction: column;
}

.col:nth-child(2){
  margin-left: 40px;
  margin-right: 40px;
}

.col label{
  margin-bottom: 20px;
  color: #cb0f57;
}

input::placeholder{
  text-align: center;
  font-size: 15px;
}

input:focus{
  text-align: center;
  background-color: #e68fb0;
}

input{
  border-radius: 5px;
  border: 1px solid #e68fb0;
  height: 25px;
}

select{
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e68fb0;
}

button{
  margin-top: 30px;
  margin-right: 20px;
  color: #c90452;
  font-size: 16px;
  padding: 5px;
}

button:focus{
  border-color: #ab489f;
  border-radius: 5px;
}
